
.caja{
	width: 200px;
	height: 200px;
	background: blue;
	margin: 10px;
	color: #fff;
	display: inline-block;

}
.div{
	width: 500px;
	margin: 20px;
	padding: 10px;
	font-family: Arial;
	cursor: pointer; 
}